<h1>Welcome#index</h1>
<p>Find me in app/views/welcome/index.html.erb</p>
<% if current_user.try(:admin?) %>
<p><a href="/events">Events</a></p>
<p><a href="/event_types">Event Types</a></p>
<p><a href="/recommenders">Recommenders</a></p>
<p><a href="/recommendation_types">Recommendation Types</a></p>
<p><a href="/questions">questions</a></p>
<p><a href="/potential_answers">potential answers</a></p>
<p><a href="/event_type_answer_weights">event type answer weights</a></p>
<p><a href="/user_answers">user answers</a></p>
<% end %>

<ul class="nav pull-right">	
  <li><%= link_to "Home",         root_path %></li>
  <% if user_signed_in? %>
  <li><%= link_to "Profile", edit_user_registration_path %></li>
  <li><%= link_to "Logout", destroy_user_session_path, :method => :delete %></li>
  <% else %>
  <li><%= link_to "Sign in", new_user_session_path %></li>
  <% end %>
</ul>


